/* style4.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

#quiz {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

#questions {
  margin-bottom: 20px;
}

ul#answers {
  list-style: none;
  padding: 0;
}

ul#answers li {
  margin-bottom: 10px;
}

button.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.button:hover {
  background-color: #0056b3;
}

#error {
  text-align: center;
  margin-top: 20px;
}

#error p {
  color: red;
}
